{% extends "dashboard_base.html" %} {% block content %}
<div class="container-fluid dashboard_item">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    </div>
    <!-- Content Row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-12 banner_list">
            <h4 class="banner_list_heading"><span class="text-green">Banner Ad</span>
                <div class="buttons">
                    <a href="#" class="btn btn-success btn-new-video" data-toggle="modal" data-target="#add_banner_modal">Add New banner</a>
                    <a href="#" class="btn btn-default btn-filter"> <img class="mr-3" src="{% static 'boneadmin/img/filter_icon.png' %}" alt=""> Filter List</a>
                </div>
            </h4>
            <div class="banner-list mt-3">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td class="ad_image">
                                <div>
                                    <img src="{% static 'boneadmin/img/vertical_ad.png' %}" alt="">
                                </div>
                            </td>
                            <td class="ad_name">
                                <p class="mb-0">Banner 1</p>
                                <p class="ad_position mb-0">Vertical | left</p>
                            </td>
                            <td class="video_action">
                                <a href="#" class="edit"><img src="{% static 'boneadmin/img/edit_icon.png' %}" alt=""></a>
                                <a href="#" class="delete_video"><img src="{% static 'boneadmin/img/delete_icon.png' %}" alt=""></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="ad_image">
                                <div>
                                    <img src="{% static 'boneadmin/img/horizontal_ad.png' %}" alt="">
                                </div>
                            </td>
                            <td class="ad_name">
                                <p class="mb-0">Banner 1</p>
                                <p class="ad_position mb-0">horizontal | left</p>
                            </td>
                            <td class="video_action">
                                <a href="#" class="edit"><img src="{% static 'boneadmin/img/edit_icon.png' %}" alt=""></a>
                                <a href="#" class="delete_video"><img src="{% static 'boneadmin/img/delete_icon.png' %}" alt=""></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Content Row -->
</div>
{% endblock %}