{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bone - Dashboard</title>
    <!-- Custom fonts for this template-->
    <link href="{% static 'boneadmin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'boneadmin/css/bone.css' %}" rel="stylesheet">
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center " href="{% url 'boneadmin:dashboard' %}">
                <div class="sidebar-brand-icon">
                    <img src="{% static 'boneadmin/img/Logo.png' %}">
                </div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item {{dashboard}}">
                <a class="nav-link" href="{%url 'boneadmin:dashboard'%}">
                    <i class="mdi mdi-view-dashboard" aria-hidden="true"></i>
                    <span>Dashboard</span> <span class="active_arrow"><i class="fas fa-chevron-right"></i></span></a>
            </li>
            <!-- Heading -->

            <!-- Nav Item - Tables -->
            <li class="nav-item {{video_category}}">
                <a class="nav-link" href="{%url 'boneadmin:video_category'%}">
                    <img src="{% static 'boneadmin/img/video_cat.png' %}" alt="">
                    <span>Video Category</span> <span class="active_arrow"><i class="fas fa-chevron-right"></i></span></a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item {{youtube}}">
                <a class="nav-link" href="{%url 'boneadmin:youtube'%}">
                    <img src="{% static 'boneadmin/img/youtube.png' %}" alt="">
                    <span>Youtube</span> <span class="active_arrow"><i class="fas fa-chevron-right"></i></span></a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item {{bannerad}}">
                <a class="nav-link" href="{%url 'boneadmin:bannerad'%}">
                    <img src="{% static 'boneadmin/img/banner.png' %}" alt="">
                    <span>Banner Ad</span> <span class="active_arrow"><i class="fas fa-chevron-right"></i></span></a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item {{videoad}}">
                <a class="nav-link" href="{%url 'boneadmin:videoad'%}">
                    <img src="{% static 'boneadmin/img/video_ad.png' %}" alt="">
                    <span>Video Ad</span> <span class="active_arrow"><i class="fas fa-chevron-right"></i></span></a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item {{motionad}}">
                <a class="nav-link" href="{%url 'boneadmin:motionad'%}">
                    <img src="{% static 'boneadmin/img/motion.png' %}" alt="">
                    <span>Motion Ad</span> <span class="active_arrow"><i class="fas fa-chevron-right"></i></span></a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item mt-auto">
                <a class="nav-link" href="{%url 'boneadmin:logout'%}">
                    <i class="mdi mdi-logout"></i>
                    <span>Log Out</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->

        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-transparent topbar static-top">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Search -->
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ">
                        <form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group search_input_group">
                                <input type="text" class="form-control header_search" placeholder="Search here" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <label class="header_search_label" type="button" id="button-addon2"><i class="fas fa-search fa-sm"></i></label>
                                </div>
                            </div>
                        </form>
                    </ul>
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small pl-2">Admin</span>
                                <img class="img-profile rounded-circle" src="{% static 'boneadmin/img/mdi-account-circle.png' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
                                </a>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <a href="#" class="nav-link"><img src="{% static 'boneadmin/img/mdi-bell.png' %}" alt=""></a>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->

                {% block content %} {% endblock %}


                <!-- end of page content  -->
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <!-- End of Footer -->
        </div>


        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!--add video modal  -->

    <!-- video modal  -->
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'boneadmin/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'boneadmin/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <!-- Custom scripts for all pages-->
    <script src="{% static 'boneadmin/js/bone.js' %}"></script>
    <!-- Page level plugins -->
    </script>

</body>

</html>