 {% extends "dashboard_base.html" %} {% block content %}
<div class="container-fluid dashboard_item">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    </div>
    <!-- Content Row -->

    <!-- Content Row -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="card shadow mb-4 dashboard_item_shadow gradient_bg br-10">
                <div class="card-body p-5">
                    <h3 class="mb-4">Total User</h3>
                    <h1>40,090</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="card shadow mb-4 dashboard_item_shadow gradient_bg br-10">
                <div class="card-body p-5">
                    <h3 class="mb-4">Total Video</h3>
                    <h1>40,090</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="card shadow mb-4 dashboard_item_shadow gradient_bg br-10">
                <div class="card-body p-5">
                    <h3 class="mb-4">Total Banner Ad View</h3>
                    <h1>40,090</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="card shadow mb-4 dashboard_item_shadow gradient_bg br-10">
                <div class="card-body p-5">
                    <h3 class="mb-4">Total Video Ad View </h3>
                    <h1>40,090</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
</div>
{% endblock %}