{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bone - Login</title>
    <!-- Custom fonts for this template-->
    <link href="{% static 'boneadmin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'boneadmin/css/bone.css' %}" rel="stylesheet">
</head>

<body class="login_bg">
    <div class="col-xl-3 col-lg-5 col-md-6 m-auto mt-5">
        <div class="card o-hidden border-0 shadow-lg">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="p-5">
                    <div class="text-center ">
                        <img src="{% static 'boneadmin/img/Logo.png' %}" class="admin_logo">
                        <h1 class="h4 text-gray-900 mt-3 mb-4">Login</h1>
                    </div>
                    <form class="user">
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                        </div>
                        <div class="form-group text-center">
                            <a href="index.html" class="btn btn-primary btn-user text-center">
                                        Login
                                    </a>
                        </div>
                    </form>
                    <div class="text-center">
                        <a class="small text-dark" href="forgot-password.html">Forgot Password? <b class="pl-2">Reset</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'boneadmin/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'boneadmin/js/bootstrap.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'boneadmin/js/bone.js' %}"></script>
</body>

</html>