{% extends "dashboard_base.html" %} {% block content %} {% load static %}
<!-- Begin Page Content -->
<div class="container-fluid dashboard_item">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    </div>
    <!-- Content Row -->
    {{message}}
    <div class="row">
        <div class="col-12">
            <h4 class="text-green">Video Category</h4>
        </div>
        <div class="video-list mt-3 w-100">
            <table class="table table-borderless">
                <tr>
                    <th class="category_name">Category Name</th>
                    <th class="total_video">Total Video</th>
                    <th class="total_view">Total View</th>
                    <th class="category_action">Action</th>
                </tr>
                <tbody>
                    {% for i in data %}

                    <tr>
                        <td class="category_name">
                            <p>{{i.category_name}}
                            </p>
                        </td>
                        <td class="total_video">
                            <p>{{i.total_video}}</p>
                        </td>
                        <td class="total_click">
                            <p>{{i.total_click}}</p>
                        </td>
                        <td class="video_action">
                            <a href="#" class="edit"><img src="{% static 'boneadmin/img/edit_icon.png' %}" alt=""></a>
                            <a href="#" class="delete_video_btn" data-toggle="modal" data-target="#delete_video_modal"><img src="{% static 'boneadmin/img/delete_icon.png' %}" alt=""></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <h4 class="text-green mt-2 mb-4">Add New Category</h4>
            <form method="POST" action={% url 'boneadmin:video_category' %}>
                {% csrf_token %}
                <input type="text" class="form-control add-category-input" name="video_category" id="" placeholder="Add New Category">
                <button type="submit" class="btn btn-success btn-add-category">Add</button>
            </form>
        </div>

    </div>
    <!-- Content Row -->
</div>
<!-- /.container-fluid -->
<!-- delete modal  -->
<div class="modal fade delete_video_modal" id="delete_video_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-green" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <form method="POST" action='#' enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3> Are you sure you want to delete this Item ?</h3>
                    <button type="button" class="btn btn-success submit-btn delete_video mr-2">Submit</button>
                    <button type="button" class="btn btn-danger cancle-btn" data-dismiss="modal">Cancel</button>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- delete modal  -->
{% endblock %}