{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
    <title>Project Bone</title>
</head>

<body>
    <!-- top scrollbar section  -->
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-12 top_scroller">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-12">
                            <marquee behavior="" direction="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligu </marquee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- top scrollbar section  -->

    <!-- top menu section  -->
    <div class="container-xl p-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" href="index.html"><img src="{% static 'user/image/BONE-Logo.png' %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <div class="input-group pr-5">
                            <input type="text" class="form-control" placeholder="Search here ..." aria-label="search" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" data-toggle="modal" data-target="#login-modal"><i class="fas fa-sign-out-alt"></i> Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" data-toggle="modal" data-target="#signup-modal"><i class="fas fa-sign-out-alt"></i> Registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" data-toggle="modal" data-target="#all-modal"> other modal</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- top menu section  -->

    <!-- hero slider  -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <div id="hero_slider" class="hero-slider owl-carousel owl-theme">
                    <div class="col-12 slider_content p-0">
                        <img class="hero_img" src="{% static 'user/image/sliderimage.png' %}" alt="">
                        <div class="container">
                            <div class="image_content">
                                <div class="slider_nav">
                                    <button class="customNextBtn"><i class="fas fa-chevron-right"></i></button>
                                    <button class="customPrevBtn"><i class="fas fa-chevron-left"></i></button>
                                </div>
                                <div class="movie_data">
                                    <h4 class="slider_movie_title">OBLIVION 2</h4>
                                    <div class="movie_time_details">
                                        <span class="time">2hr 00 min</span> <span class="imdb_section"><img src="{% static 'user/image/imdbicon.png' %}" alt=""> <span>8.6</span></span> <span class="year">2007</span> <span class="type">Si fi</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
                                    <div class="content_button_section">
                                        <button class="btn btn-success">Play Now</button>
                                        <button class="btn btn-default btn-play"> <img src="{% static 'user/image/play_icon.png' %}" alt=""> Watch Trailer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 slider_content p-0">
                        <img class="hero_img" src="{% static 'user/image/sliderimage.png' %}" alt="">
                        <div class="container">
                            <div class="image_content">
                                <div class="slider_nav">
                                    <button class="customNextBtn"><i class="fas fa-chevron-right"></i></button>
                                    <button class="customPrevBtn"><i class="fas fa-chevron-left"></i></button>
                                </div>
                                <div class="movie_data">
                                    <h4 class="slider_movie_title">OBLIVION</h4>
                                    <div class="movie_time_details">
                                        <span class="time">2hr 00 min</span> <span class="imdb_section"><img src="{% static 'user/image/imdbicon.png' %}" alt=""> <span>8.6</span></span> <span class="year">2007</span> <span class="type">Si fi</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
                                    <div class="content_button_section">
                                        <button class="btn btn-success">Play Now</button>
                                        <button class="btn btn-default btn-play"> <img src="{% static 'user/image/play_icon.png' %}" alt=""> Watch Trailer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="owl-dots custom-dot" id="carousel-custom-dots">
                    <button role="button" class="owl-dot"><span></span></button>
                    <button role="button" class="owl-dot"><span></span></button>
                    <button role="button" class="owl-dot"><span></span></button>
                    <button role="button" class="owl-dot"><span></span></button>
                </div>

            </div>
        </div>
    </div>
    <!-- hero slider  -->

    <!-- whole body before footer section  -->
    <div class="container-fluid blue-bg">
        <div class="row">
            <div class="container-xl">
                <div class="row">
                    <div class="col-12 top_ad_section">
                        <a href="#">
                            <img src="{% static 'user/image/top_img.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="left-ad-section">
                            <a href="#">
                                <img src="{% static 'user/image/bigimage.png' %}" alt="">
                            </a>
                        </div>
                        <div class="right-ad-section">
                            <a href="#">
                                <img src="{% static 'user/image/bigimage.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- category selection -->
                <div class="row">
                    <div class="container-xl categories_scroller_section">
                        <h4 class="text-white mb-4">Categories </h4>
                        <div class="category_slider">
                            <div class="slider_nav_category">
                                <button class="customNextBtn"><i class="fas fa-chevron-right"></i></button>
                                <button class="customPrevBtn"><i class="fas fa-chevron-left"></i></button>
                            </div>
                            <div id="categories_slider" class="category-slider owl-carousel owl-theme">
                                <div class="item">
                                    <a href="#" class="movie_category">Action</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="movie_category">Action</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="movie_category">Action</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="movie_category">Action</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="movie_category">Action</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="movie_category">Action</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- category selection -->
                <!-- latest section  -->
                <div class="row">
                    <div class="container-xl categories_scroller_section">
                        <h4 class="text-white mb-4">Latest Videos <a href="#" class="more">More Videos</a></h4>
                        <div class="c_slider">
                            <div class="slider_nav_Latest slider_nav_arrow">
                                <button class="customNextBtn"><i class="fas fa-chevron-right"></i></button>
                                <button class="customPrevBtn"><i class="fas fa-chevron-left"></i></button>
                            </div>
                            <div id="latest_slider" class="latest-video-slider owl-carousel owl-theme">
                                <div class="item movie_poster" video-id="1">
                                    <img src="{% static 'user/image/latest1.png' %}" alt="" class="item-img">
                                    <div class="right_icon">
                                        <a href="#">
                                            <span class="favourite_movie"><img src="{% static 'user/image/favourite.png' %}" alt=""></span>
                                        </a>
                                        <a href="#">
                                            <span class="share_movie"><img src="{% static 'user/image/share.png' %}" alt=""></span>
                                        </a>
                                    </div>
                                    <a href="#">
                                        <span class="movie_play_icon"><img src="{% static 'user/image/movie_play.png' %}" alt=""></span>
                                    </a>
                                </div>
                                <div class="item movie_poster" video-id="2">
                                    <img src="{% static 'user/image/latest1.png' %}" alt="" class="item-img">
                                    <div class="right_icon">
                                        <a href="#">
                                            <span class="favourite_movie"><img src="{% static 'user/image/favourite.png' %}" alt=""></span>
                                        </a>
                                        <a href="#">
                                            <span class="share_movie"><img src="{% static 'user/image/share.png' %}" alt=""></span>
                                        </a>
                                    </div>
                                    <a href="#">
                                        <span class="movie_play_icon"><img src="{% static 'user/image/movie_play.png' %}" alt=""></span>
                                    </a>
                                </div>
                                <div class="item movie_poster">
                                    <img src="{% static 'user/image/latest1.png' %}" alt="" class="item-img">
                                    <div class="right_icon">
                                        <a href="#">
                                            <span class="favourite_movie"><img src="{% static 'user/image/favourite.png' %}" alt=""></span>
                                        </a>
                                        <a href="#">
                                            <span class="share_movie"><img src="{% static 'user/image/share.png' %}" alt=""></span>
                                        </a>
                                    </div>
                                    <a href="#">
                                        <span class="movie_play_icon"><img src="{% static 'user/image/movie_play.png' %}" alt=""></span>
                                    </a>
                                </div>
                                <div class="item movie_poster">
                                    <img src="{% static 'user/image/latest1.png' %}" alt="" class="item-img">
                                    <div class="right_icon">
                                        <a href="#">
                                            <span class="favourite_movie"><img src="{% static 'user/image/favourite.png' %}" alt=""></span>
                                        </a>
                                        <a href="#">
                                            <span class="share_movie"><img src="{% static 'user/image/share.png' %}" alt=""></span>
                                        </a>
                                    </div>
                                    <a href="#">
                                        <span class="movie_play_icon"><img src="{% static 'user/image/movie_play.png' %}" alt=""></span>
                                    </a>
                                </div>
                                <div class="item movie_poster">
                                    <img src="{% static 'user/image/latest1.png' %}" alt="" class="item-img">
                                    <div class="right_icon">
                                        <a href="#">
                                            <span class="favourite_movie"><img src="{% static 'user/image/favourite.png' %}" alt=""></span>
                                        </a>
                                        <a href="#">
                                            <span class="share_movie"><img src="{% static 'user/image/share.png' %}" alt=""></span>
                                        </a>
                                    </div>
                                    <a href="#">
                                        <span class="movie_play_icon"><img src="{% static 'user/image/movie_play.png' %}" alt=""></span>
                                    </a>
                                </div>
                                <div class="item movie_poster">
                                    <img src="{% static 'user/image/latest1.png' %}" alt="" class="item-img">
                                    <div class="right_icon">
                                        <a href="#">
                                            <span class="favourite_movie"><img src="{% static 'user/image/favourite.png' %}" alt=""></span>
                                        </a>
                                        <a href="#">
                                            <span class="share_movie"><img src="{% static 'user/image/share.png' %}" alt=""></span>
                                        </a>
                                    </div>
                                    <a href="#">
                                        <span class="movie_play_icon"><img src="{% static 'user/image/movie_play.png' %}" alt=""></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- latest section  -->
                <!-- most viewed section  -->
                <div class="row">
                    <div class="container-xl categories_scroller_section">
                        <h4 class="text-white mb-4">Most Viewed Movie <a href="#" class="more">More Videos</a></h4>
                        <div class="c_slider">
                            <div class="slider_nav_movie slider_nav_arrow">
                                <button class="customNextBtn"><i class="fas fa-chevron-right"></i></button>
                                <button class="customPrevBtn"><i class="fas fa-chevron-left"></i></button>
                            </div>
                            <div id="movie_slider" class="movie_slider owl-carousel owl-theme">
                                <div class="item movie_poster">
                                    <img src="{% static 'user/image/latest1.png' %}" alt="" class="item-img">
                                    <div class="right_icon">
                                        <a href="#">
                                            <span class="favourite_movie"><img src="{% static 'user/image/favourite.png' %}" alt=""></span>
                                        </a>
                                        <a href="#">
                                            <span class="share_movie"><img src="{% static 'user/image/share.png' %}" alt=""></span>
                                        </a>
                                    </div>
                                    <a href="#">
                                        <span class="movie_play_icon"><img src="{% static 'user/image/movie_play.png' %}" alt=""></span>
                                    </a>
                                </div>
                                <div class="item movie_poster">
                                    <img src="{% static 'user/image/latest1.png' %}" alt="" class="item-img">
                                    <div class="right_icon">
                                        <a href="#">
                                            <span class="favourite_movie"><img src="{% static 'user/image/favourite.png' %}" alt=""></span>
                                        </a>
                                        <a href="#">
                                            <span class="share_movie"><img src="{% static 'user/image/share.png' %}" alt=""></span>
                                        </a>
                                    </div>
                                    <a href="#">
                                        <span class="movie_play_icon"><img src="{% static 'user/image/movie_play.png' %}" alt=""></span>
                                    </a>
                                </div>
                                <div class="item movie_poster">
                                    <img src="{% static 'user/image/latest1.png' %}" alt="" class="item-img">
                                    <div class="right_icon">
                                        <a href="#">
                                            <span class="favourite_movie"><img src="{% static 'user/image/favourite.png' %}" alt=""></span>
                                        </a>
                                        <a href="#">
                                            <span class="share_movie"><img src="{% static 'user/image/share.png' %}" alt=""></span>
                                        </a>
                                    </div>
                                    <a href="#">
                                        <span class="movie_play_icon"><img src="{% static 'user/image/movie_play.png' %}" alt=""></span>
                                    </a>
                                </div>
                                <div class="item movie_poster">
                                    <img src="{% static 'user/image/latest1.png' %}" alt="" class="item-img">
                                    <div class="right_icon">
                                        <a href="#">
                                            <span class="favourite_movie"><img src="{% static 'user/image/favourite.png' %}" alt=""></span>
                                        </a>
                                        <a href="#">
                                            <span class="share_movie"><img src="{% static 'user/image/share.png' %}" alt=""></span>
                                        </a>
                                    </div>
                                    <a href="#">
                                        <span class="movie_play_icon"><img src="{% static 'user/image/movie_play.png' %}" alt=""></span>
                                    </a>
                                </div>
                                <div class="item movie_poster">
                                    <img src="{% static 'user/image/latest1.png' %}" alt="" class="item-img">
                                    <div class="right_icon">
                                        <a href="#">
                                            <span class="favourite_movie"><img src="{% static 'user/image/favourite.png' %}" alt=""></span>
                                        </a>
                                        <a href="#">
                                            <span class="share_movie"><img src="{% static 'user/image/share.png' %}" alt=""></span>
                                        </a>
                                    </div>
                                    <a href="#">
                                        <span class="movie_play_icon"><img src="{% static 'user/image/movie_play.png' %}" alt=""></span>
                                    </a>
                                </div>
                                <div class="item movie_poster">
                                    <img src="{% static 'user/image/latest1.png' %}" alt="" class="item-img">
                                    <div class="right_icon">
                                        <a href="#">
                                            <span class="favourite_movie"><img src="{% static 'user/image/favourite.png' %}" alt=""></span>
                                        </a>
                                        <a href="#">
                                            <span class="share_movie"><img src="{% static 'user/image/share.png' %}" alt=""></span>
                                        </a>
                                    </div>
                                    <a href="#">
                                        <span class="movie_play_icon"><img src="{% static 'user/image/movie_play.png' %}" alt=""></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- most viewed section  -->

                <!-- promotional movie banner  -->
                <div class="row">
                    <div class="container-xl">
                        <div class="promotional_movie">
                            <img class="movie_poster" src="{% static 'user/image/promotional_banner.png' %}" alt="">
                            <div class="movie_data">
                                <h4 class="slider_movie_title">OBLIVION 2</h4>
                                <div class="movie_time_details">
                                    <span class="time">2hr 00 min</span> <span class="imdb_section"><img src="{% static 'user/image/imdbicon.png' %}" alt=""> <span>8.6</span></span> <span class="year">2007</span> <span class="type">Si fi</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
                                <div class="content_button_section">
                                    <button class="btn btn-success">Play Now</button>
                                    <button class="btn btn-default btn-play"> <img src="{% static 'user/image/play_icon.png' %}" alt=""> Watch Trailer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- promotional movie banner  -->

                <!-- bottom ad section  -->
                <div class="row">
                    <div class="col-12 top_ad_section">
                        <a href="#">
                            <img src="{% static 'user/image/top_img.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <!-- bottom ad section  -->



            </div>
        </div>
    </div>
    <!-- whole body before footer section  -->


    <!-- footer  -->
    <div class="container-fluid footer_section">
        <div class="row">
            <div class="container-xl">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <img src="{% static 'user/image/BONE-Logo-transparent.png' %}" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="social_icon">
                            <a class="icon" href="#"><i class="fab fa-facebook"></i></a>
                            <a class="icon" href="#"><i class="fab fa-linkedin"></i></a>
                            <a class="icon" href="#"><i class="fab fa-youtube"></i></a>
                            <a class="icon" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-6">
                        <h4 class="mb-4">Explore</h4>
                        <div class="link_list">
                            <a href="#" class="link">Home</a>
                            <a href="#" class="link">Movie</a>
                            <a href="#" class="link">Videos</a>
                            <a href="#" class="link">Sports</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-6">
                        <h4 class="mb-4">Company</h4>
                        <div class="link_list">
                            <a href="#" class="link">Home</a>
                            <a href="#" class="link">Movie</a>
                            <a href="#" class="link">Videos</a>
                            <a href="#" class="link">Sports</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <h4 class="mb-4">Subscribe</h4>
                        <div class="subscription">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Subscribe us now" aria-label="search" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="button" id="button-addon2"><i class="fab fa-telegram-plane"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 bg-success text-white text-center">
                <p class="mt-2 mb-2">&copy; Copyright 2021 Bone. All Rights Reserved.</p>
            </div>
        </div>
    </div>
    <!-- footer  -->
    <!-- Login modal  -->
    <div class="modal fade login-modal" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <h3 class="modal-title">Login</h3>
                    <p>Login to your account</p>
                    <form class="modal-form">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" aria-describedby="username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <div class="form-check form-check-inline float-right">
                                <a href="#" class="float-right">Forgot Password</a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-block btn-success">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Login modal  -->
    <!-- Optional JavaScript -->
    <!-- signup modal  -->
    <div class="modal fade signup-modal" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <h3 class="modal-title">Sign Up</h3>
                    <p>Welcome to the Bone. Please register your account here.</p>
                    <form class="modal-form">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" aria-describedby="username">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-block btn-success">Sign Up</button>
                        <p class="text-center mt-3">Already have an account? <a href="#">Sign In</a> here</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- signup modal  -->
    <!-- all modal  -->
    <div class="modal fade all-modal" id="all-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body text-center">
                    <h4>You need to login first</h4>
                    <div class="all-button mt-5">
                        <button class="btn btn-primary btn-login">Login</button>
                        <button class="btn btn-primary btn-registration">Registration</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- all modal  -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <script src="{% static 'user/js/app.js' %}"></script>
</body>

</html>