<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Video page</title>
</head>

<body>
    <!-- top scrollbar section  -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 top_scroller">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-12">
                            <marquee behavior="" direction="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligu </marquee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- top scrollbar section  -->

    <!-- top menu section  -->
    <div class="container-xl p-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" href="index.html"><img src="image/BONE-Logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="browse_menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Browse
						</a>
                        <div class="dropdown-menu" aria-labelledby="browse_menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="Movie_menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Movie
						</a>
                        <div class="dropdown-menu" aria-labelledby="Movie_menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="tvShow_menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							TV Show
						</a>
                        <div class="dropdown-menu" aria-labelledby="tvShow_menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="Video_menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Video
						</a>
                        <div class="dropdown-menu" aria-labelledby="Video_menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contact</a>
                    </li>
                    <li class="nav-item">
                        <div class="input-group pl-5 pr-5">
                            <input type="text" class="form-control" placeholder="Search here ..." aria-label="search" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-sign-out-alt"></i> Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- top menu section  -->

    <!-- hero slider  -->
    <div class="container-fluid video-player-div">
        <div class="row">
            <div class="container-xl">
                <div class="row">
                    <div class="video-player-section">
                        <div class="row">
                            <div class="col-lg-8 col-12">
                                <div class="video-container">
                                    <iframe src="https://www.youtube.com/embed/Gcg__eDktgY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="played-video-details">
                                    <div class="video-title">
                                        <p class="mb-0">The Mandalorian | Official Trailer | Streaming Nov. 12</p>
                                        <p class="video-info"><span class="release-date">2019</span>•<span class="dutration">8 min</span>•<span class="quality">720p</span>•<span class="size">2GB</span></p>
                                    </div>
                                    <div class="video-option">
                                        <button class="btn btn-dark btn-add-to-list"><img class="mr-2" src="image/add_icon.png" alt="">  Add to list</button>
                                        <button class="btn btn-success btn-share"><img class="mr-2" src="image/share_icon.png" alt=""> Share</button>
                                    </div>
                                </div>
                                <div class="video-description">
                                    <p class="mb-1">After the stories of Jango and Boba Fett, another warrior emerges in the Star Wars universe. “The Mandalorian” is set after the fall of the Empire and before the emergence of the First Order.</p>
                                    <a href="#" class="show_more">Show More</a>
                                </div>
                                <div class="video_cast">
                                    <p class="cast-heading">Cast</p>
                                    <div class="cast_section">
                                        <img src="image/cast.png" alt="">
                                        <p class="mb-0 castname">Salman Abir</p>
                                    </div>
                                    <div class="cast_section">
                                        <img src="image/cast.png" alt="">
                                        <p class="mb-0 castname">Shohannur Rsahman</p>
                                    </div>
                                    <div class="cast_section">
                                        <img src="image/cast.png" alt="">
                                        <p class="mb-0 castname">Salman Abir</p>
                                    </div>
                                    <div class="cast_section">
                                        <img src="image/cast.png" alt="">
                                        <p class="mb-0 castname">Shohannur Rsahman</p>
                                    </div>
                                    <div class="cast_section">
                                        <img src="image/cast.png" alt="">
                                        <p class="mb-0 castname">Salman Abir</p>
                                    </div>
                                    <div class="cast_section">
                                        <img src="image/cast.png" alt="">
                                        <p class="mb-0 castname">Shohannur Rsahman</p>
                                    </div>
                                    <div class="cast_section">
                                        <img src="image/cast.png" alt="">
                                        <p class="mb-0 castname">Salman Abir</p>
                                    </div>
                                    <div class="cast_section">
                                        <img src="image/cast.png" alt="">
                                        <p class="mb-0 castname">Shohannur Rsahman</p>
                                    </div>
                                </div>
                                <div class="video_cast">
                                    <p class="cast-heading">Director</p>
                                    <div class="cast_section ml-0">
                                        <img src="image/cast.png" alt="">
                                        <p class="mb-0 castname">Salman Abir</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="recommended-videos-container">
                                    <div class="recommended-heading">
                                        <h4 class="mb-0">Recommended Videos</h4>
                                    </div>
                                    <div class="recommended-videos">
                                        <div class="video-item">
                                            <div class="video-item-image">
                                                <img src="image/r-image.png" alt="">
                                            </div>
                                            <div class="video-item-details">
                                                <a href="#" class="vi-movie-name">Chhalaang</a>
                                                <p class="vi-movie-duration"><span class="vi-movie-type">Drama</span> <span class="duration"><span class="hour"></span><span class="min">44 Min</span> <span class="sec">43 Sec</span></span>
                                                </p>
                                                <a href="#" class="vi-movie-play"><img class="mr-2" src="image/vi-play-btn.png" alt="">Play Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hero slider  -->

    <!-- whole body before footer section  -->
    <div class="container-fluid blue-bg">
        <div class="row">
            <div class="container-xl">
                <div class="row">
                    <div class="col-12 top_ad_section">
                        <a href="#">
                            <img src="image/top_img.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="left-ad-section">
                            <a href="#">
                                <img src="image/bigimage.png" alt="">
                            </a>
                        </div>
                        <div class="right-ad-section">
                            <a href="#">
                                <img src="image/bigimage.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- category selection -->
                <div class="row">
                    <div class="container-xl categories_scroller_section">
                        <h4 class="text-white mb-4">Categories </h4>
                        <div class="c_sldier">
                            <div class="slider_nav_category">
                                <button class="customNextBtn"><i class="fas fa-chevron-right"></i></button>
                                <button class="customPrevBtn"><i class="fas fa-chevron-left"></i></button>
                            </div>
                            <div id="categories_slider" class="category-slider owl-carousel owl-theme">
                                <div class="item">
                                    <a href="#" class="movie_category">Action</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="movie_category">Action</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="movie_category">Action</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="movie_category">Action</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="movie_category">Action</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="movie_category">Action</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- category selection -->
                <!-- most action section  -->
                <div class="row mt-5">
                    <div class="container-xl categories_scroller_section">
                        <h4 class="text-white mb-4">Most Action Movies <a href="#" class="more">More Videos</a></h4>
                        <div class="c_sldier">
                            <div class="slider_nav_m_popular slider_nav_arrow">
                                <button class="customNextBtn"><i class="fas fa-chevron-right"></i></button>
                                <button class="customPrevBtn"><i class="fas fa-chevron-left"></i></button>
                            </div>
                            <div id="most_popular_slider" class="most_popular_slider owl-carousel owl-theme">
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- most action section  -->
                <!-- latest section  -->
                <div class="row">
                    <div class="container-xl categories_scroller_section">
                        <h4 class="text-white mb-4">Latest Videos <a href="#" class="more">More Videos</a></h4>
                        <div class="c_sldier">
                            <div class="slider_nav_Latest slider_nav_arrow">
                                <button class="customNextBtn"><i class="fas fa-chevron-right"></i></button>
                                <button class="customPrevBtn"><i class="fas fa-chevron-left"></i></button>
                            </div>
                            <div id="latest_slider" class="latest-video-slider owl-carousel owl-theme">
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- latest section  -->
                <!-- most viewed section  -->
                <div class="row">
                    <div class="container-xl categories_scroller_section">
                        <h4 class="text-white mb-4">Most Viewed Movie <a href="#" class="more">More Videos</a></h4>
                        <div class="c_sldier">
                            <div class="slider_nav_movie slider_nav_arrow">
                                <button class="customNextBtn"><i class="fas fa-chevron-right"></i></button>
                                <button class="customPrevBtn"><i class="fas fa-chevron-left"></i></button>
                            </div>
                            <div id="movie_slider" class="movie_slider owl-carousel owl-theme">
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- most viewed section  -->
                <!-- top regional section  -->
                <div class="row">
                    <div class="container-xl categories_scroller_section">
                        <h4 class="text-white mb-4">Top Regional Shows <a href="#" class="more">More Videos</a></h4>
                        <div class="c_sldier">
                            <div class="slider_nav_Topr slider_nav_arrow">
                                <button class="customNextBtn"><i class="fas fa-chevron-right"></i></button>
                                <button class="customPrevBtn"><i class="fas fa-chevron-left"></i></button>
                            </div>
                            <div id="Top_Regeional_slider" class="Top_Regeional_slider owl-carousel owl-theme">
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="image/latest1.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- top regional section  -->

            </div>
        </div>
    </div>
    <!-- whole body before footer section  -->


    <!-- footer  -->
    <div class="container-fluid footer_section">
        <div class="row">
            <div class="container-xl">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <img src="image/BONE-Logo-transparent.png" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="social_icon">
                            <a class="icon" href="#"><i class="fab fa-facebook"></i></a>
                            <a class="icon" href="#"><i class="fab fa-linkedin"></i></a>
                            <a class="icon" href="#"><i class="fab fa-youtube"></i></a>
                            <a class="icon" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-6">
                        <h4 class="mb-4">Explore</h4>
                        <div class="link_list">
                            <a href="#" class="link">Home</a>
                            <a href="#" class="link">Movie</a>
                            <a href="#" class="link">Videos</a>
                            <a href="#" class="link">Sports</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-6">
                        <h4 class="mb-4">Company</h4>
                        <div class="link_list">
                            <a href="#" class="link">Home</a>
                            <a href="#" class="link">Movie</a>
                            <a href="#" class="link">Videos</a>
                            <a href="#" class="link">Sports</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <h4 class="mb-4">Subscribe</h4>
                        <div class="subscription">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Subscribe us now" aria-label="search" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="button" id="button-addon2"><i class="fab fa-telegram-plane"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 bg-success text-white text-center">
                <p class="mt-2 mb-2">&copy; Copyright 2021 Bone. All Rights Reserved.</p>
            </div>
        </div>
    </div>
    <!-- footer  -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <script src="js/app.js"></script>
</body>

</html>